.App {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;

}


.App-header {
  height: 150px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;

  width: 40vw;
  display: flex; 
}
